// bower:scss
// endbower

$color1: #27ae60;
$color2: #34495e;

html {
    background-color: #141414;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

.main-header {
    height: 50px;
    padding: 0 20px;
    background-color: $color1;

    h1.document-name {
        margin: 0;
        font-size: 22px;
        color: white;
        font-weight: 300;
        line-height: 48px;
        float: left;
    }

    .actions {
        float: right;
    }

    .button {
        font-family: 'Open Sans', sans-serif;
        background-color: grey;
        border: none;
        font-size: 11px;
        padding: 8px 20px;
        cursor: pointer;
        margin: 9px 0;
        border-radius: 2px;
        text-transform: uppercase;

        &:hover {
            opacity: 0.8;
        }

        &.button-icon {
            padding: 6px;
            margin: 5px 0 5px 5px;
            font-size: 1.1em;
            border-radius: 50px;
            border: 1px solid transparent;
            background-color: transparent;
            color: white;
            border-color: white;

            &:hover {
                opacity: 1;
                background-color: white;
                color: $color1;
            }
        }
    }
}

#editor { 
    margin: 0;
    position: absolute;
    top: 50px;
    bottom: 20px;
    left: 0;
    right: 0;
}

#statusbar {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    background-color: #0A0A0A;
    color: gray;
    font-size: 11px;
    line-height: 20px;
    padding: 0 5px;
    text-align: right;
}

.ace-twilight .ace_gutter {
    color: grey!important;
}