<header class=main-header> <h1 class=document-name>{{ document.data.name }}</h1> <div class=actions> <button class="button button-save" ng-click=save()>Save</button> <button class="button button-cancel">Cancel</button> </div> </header> <div class=windows> <div ui-ace="{
            theme: 'twilight',
            mode: 'html',
            onLoad: aceLoaded
        }" ng-model=document.data.body id=editor> </div> </div> <!-- Calculate editor height. --> <script>var editorHeight = $(window).outerHeight(),
        headerHeight = $('.main-header').outerHeight();

    $('#editor').css({ height: editorHeight - headerHeight });

    $(function () {
        if (window.location.port === '') {
            ace.config.set('basePath', 'bower_components/ace-builds/src-min-noconflict');
            console.log(ace.config.get('basePath'));
        };
    })</script>