<header class=main-header> <h1 class=document-name>{{ document.data.name }}</h1> <div class=actions> <button class="button button-icon" ng-click=save()> <i class="fa fa-fw fa-save"></i> </button> <button class="button button-icon" ng-click=close()> <i class="fa fa-fw fa-close"></i> </button> </div> </header> <div class=windows> <div ui-ace=aceConfig ng-model=document.data.body id=editor></div> <div id=statusbar></div> </div> <!-- Calculate editor height. --> <script>var editorHeight = $(window).outerHeight(),
        headerHeight = $('.main-header').outerHeight();

    // $('#editor').css({ height: editorHeight - headerHeight });

    $(function () {
        // if (window.location.port === '') {
            // ace.config.set('basePath', 'bower_components/ace-builds/src-min-noconflict');
            ace.config.set('basePath', 'scripts/ace/src-min-noconflict');
            console.log(ace.config.get('basePath'));
        // };
    })</script>